<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/acer/Desktop/java/Bridzelabz_softwareTesting_manual_Automation_MobileTesting/HimlayWellnessMobileAppTestingusingEmulator">
        <classes>
            <class name="TestCasesHomePageWithoutLogin"/>
            <class name="TestLoginPage"/>
            <class name="TestPersonalCare"/>
        </classes>
    </test>
</suite>